doctype html
html(lang="en")
    include ./head.pug
    body
        .container
            h1 CERA
            ul(class="nav nav-tabs")
                li#driverTab.active(role="presentation")
                    a(href="#driverForm", data-toggle="tab", other1="#riderForm", other2="#prev_reqs") Add Drive Form
                li#riderTab(role="presentation")
                    a(href="#riderForm", data-toggle="tab", other1="#driverForm", other2="#prev_reqs") Request Ride Form
                li#prev_req_tab(role="presentation")
                    a(href="#prev_reqs", data-toggle="tab", other1="#riderForm", other2="#driverForm") Previous Queries
            br
            span#userID(style="display:none") #{pageContent.userId}
            #driverForm
                include ./driverForm.pug
            #riderForm(style="display:none")
                include ./riderForm.pug
            #prev_reqs(style="display:none")
                ul.collection.with-header
                    li.collection-header
                        h4 Drives Added
                    if pageContent.drivers.length == 0
                        li.collection-item None
                    each val in pageContent.drivers
                        if val.startId == 1
                            li.collection-item(id=val.id)= "UCSD-->" + val.end_points + "   " + val.leave_date
                        else if val.startId == 2
                            li.collection-item(id=val.id)= "UCSB-->" + val.end_points + "   " + val.leave_date
                        else if val.startId == 3
                            li.collection-item(id=val.id)= "CalPoly SLO-->" + val.end_points + "   " + val.leave_date
                ul.collection.with-header
                    li.collection-header
                        h4 Rides Requested
                    if pageContent.riders.length == 0
                        li.collection-item None
                    each val in pageContent.riders
                        if val.startId == 1
                            li.collection-item(id=val.id)= "UCSD-->" + val.end_points + "   " + val.leave_date
                        else if val.startId == 2
                            li.collection-item(id=val.id)= "UCSB-->" + val.end_points + "   " + val.leave_date
                        else if val.startId == 3
                            li.collection-item(id=val.id)= "CalPoly SLO-->" + val.end_points + "   " + val.leave_date
