.col.s6
    .row
        .input-field.col.s2
            input#rider_loc1(
                name="rider_start_locs",
                type="radio",
                value="1"
            )
            label(for="rider_loc1") UCSD
            label.active Start Location
        .input-field.col.s2
            input#rider_loc2(
                name="rider_start_locs",
                type="radio",
                value="2"
            )
            label(for="rider_loc2") UCSB

        .input-field.col.s2
            input#rider_loc3(
                name="rider_start_locs",
                type="radio",
                value="3"
            )
            label(for="rider_loc3") CalPoly SLO
    .row
        .input-field.col.s6
            input(
                placeholder="end",
                id="rider_endpoint",
                type="text",
                class="validate")
            label(for="rider_endpoint") End Location
    .row
        .input-field.col.s2
            input.datepicker(
                type="date",
                id="rider_departure_date"
            )
            label(for="rider_departure_date") Departure Date
        .input-field.col.s2
            input(
                type="time",
                id="rider_leave_earliest"
            )
            label.active Earliest Departure Time
        .input-field.col.s2
            input(
                type="time",
                id="rider_leave_latest"
            )
            label.active Latest Departure Time
    .row
        .input-field.col.s6.right-align
            button.btn.waves-effect.waves-light(
                onClick="rider_submit()",
                name="action"
            ) Submit
                i.material-icons.right send


